/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Slide container */
/* .swiper-slide {  
   
} */

/* Carousel image */
.swiper-slide img {
  object-fit: fill;
  object-position: center;
  width: 100%;
  aspect-ratio: 16/9;
}

/* Bullet points pagination container */
.swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 0.29vw;
  margin-bottom: 1vw;
}

/* Bullet points pagination */
.swiper-pagination-bullet {
  width: 0.58vw;
  height: 0.58vw;   
}

/* Prev and next arrows. They're icons-font. */
.swiper-button-next::after, .swiper-button-prev::after {  
  font-size: 3.22vw;
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset,2vw);
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset,2vw);
}