nav {
  display: flex;
  flex-direction: column;
  border: solid red;
}

.dropdown {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:column;
}


.dropdown-content {
  width: 100%;
  height: 0;
  flex-direction: column;
  opacity: 0;
  border: solid green;
  transition: 0.5s;
}

.dropdown .dropdown-content a {
  /* opacity: 0; */
  display: flex;
}


@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide__down {
  animation: slideDown 0.5s forwards;
  /* display: flex; */
  
}

@media (min-width:769px) {
  .dropdown-content{
    display: none;
  }

  .dropdown .dropdown-content a {
    /* opacity: 0; */
    display: none;
  }

  .dropdown:hover .dropdown-content {  
    animation: slideDown 0.5s forwards;
    display: flex;
  } 
  .dropdown:hover .dropdown-content a {
    display: block;
    opacity: 1;
  }
}
